/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-text-font);
  color: var(--main-text-color);
  font-variation-settings: 'wght' var(--main-text-font-weight);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 18px;
  padding: 0 var(--side-margin);
}

.header {
  padding: 120px 14px 22px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
  font-weight: var(--header-font-weight);
  justify-content: center;
  align-items: center;
  margin-block: 100px;
}

.header__welcome {
  font-family: var(--header-text-font);
  text-align: center;
}

.header__title {
  font-size: clamp(49px, 1.502vw + 2.71rem, 65px);
  margin-block-end: 20px;
}

.header__subtitle {
  margin-block-end: 22px;
  font-size: clamp(14px, 0.845vw + 0.677rem, 23px);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-inline-start: 20px;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
  
}

.theme-menu__button:hover::after {
  content: "";
  position: absolute;
  display: block;
  border-block-end: 2px solid currentColor;
  transition: width opacity 5s easy;
}



.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -15px;
  opacity: 0.6;
  animation: active_theme 0.5s ease-in-out infinite alternate;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-family: var(--header-text-font);
  text-transform: uppercase;
  position: relative;
}

.main {
  display: grid;
  gap: 50px;
  border: 2px solid var(--border-color);
}

.main__content_list {
  list-style-type: none;
  display: grid;
  place-content: center;
}

.main__content_header {
  font-variation-settings: 'wght' var(--header-font-weight);
  padding: 4px 10px;
  font-size: 18px;
  line-height: 21.78px;
  border-block-end: 2px solid var(--border-color);
}

.main__content_elem {
  background-color: var(--background-color);
}

.main__content_textWrapper {
  padding: 25px;
}

.main__content_imgLogo {
  position: absolute;
  inset: 50px;
}

.main__content_text:not(:last-of-type) {
  margin-block-end: 27px;
}

.main__content_imgWrapper {
  position: relative;
  border-block-end: 2px solid currentColor;
}



.main__content_img {
  object-fit:cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
  display: block;
}

.card__footer {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  gap: 12px;
  margin-inline-end: 25px;
  margin-block-end: 25px;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
  cursor: pointer;  
}

.button:hover {
  cursor: pointer;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  background-color: transparent;
  padding-block-start: 6px;
  border: 2px solid currentColor;
}

.button__text {
  font-size: 14px;
  line-height: 12.6px;
  font-family: var(--header-text-font, sans-serif);
}

.floppy {
  inline-size: 39px;
  block-size: 39px;
}