/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-text-font);
  color: var(--main-text-color);
  font-variation-settings: 'wght' var(--main-text-font-weight);
  background-color: var(--background-color);
}

.header {
  block-size: max(100vh, 668px);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 370px;
}

.header__block-welcome {
  background-color: #FFFFFF;
  padding: 136px 25px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px
}

.header__title {
  font-weight: var(--header-font-weight);
  font-size: clamp(49px, 1.502vw + 2.71rem, 65px);
}


.floppy {
  inline-size: 39px;
  block-size: 39px;
}