/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.brightness {
  filter: brightness(50%)
}

.contrast {
  filter: contrast(150%)
}

.blur {
  filter: blur(10px);
} 

.opacity {
  filter: opacity(0.6)
}

.grayscale {
  filter: grayscale(1)
}

.hue-rotate {
  filter: hue-rotate(-90deg);
} 

.multi-filer {
  filter: sepia(1) invert(0.3) saturate(45%)
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-text-font);
  color: var(--main-text-color);
  font-variation-settings: 'wght' var(--main-text-font-weight);
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 18px;
  padding: 0 var(--side-padding-header);
}

.header {
  padding: var(--header-padding-top) 14px 20px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
  font-weight: var(--header-font-weight);
  justify-content: center;
  align-items: center;
  margin-block: 100px 
}

.header__welcome {
  font-family: var(--header-text-font);
  text-align: center;
}

.header__title {
  font-size: clamp(49px, 1.502vw + 2.71rem, 65px);
  margin-block-end: 20px;
}

.header__subtitle {
  margin-block-end: 22px;
  font-size: clamp(14px, 0.845vw + 0.677rem, 23px);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-inline-start: 20px;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.6s ease;
  pointer-events: none;
}

.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  border-block-end: 2px solid currentColor;
  transform-origin: left;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.6s ease;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -15px;
  opacity: 0.6;
  animation: active_theme 0.5s ease-in-out infinite alternate;
}

.theme-menu__button {
  border: 2px solid transparent;
  background-color: transparent;
  font-size: 14px;
  font-family: var(--header-text-font);
  text-transform: uppercase;
  position: relative;
}


.main__content_list {
  list-style-type: none;
  display: grid;
  gap: 50px;
}

.main__content_header {
  font-variation-settings: 'wght' var(--header-font-weight);
  padding: 4px 10px;
  font-size: 18px;
  line-height: 21.78px;
  border: 2px solid var(--border-color);
}

.main__content_elem {
  background-color: var(--background-color);
  display: grid;
  gap: 50px;
}

.main__content_textWrapper {
  padding: 25px;
  border: 2px solid currentColor;
  border-block-end: none;
}

.main__content_text:not(:last-of-type) {
  margin-block-end: 25px;
}

.main__content_text {
  line-height: 21px;
}

.main__content_imgWrapper {
  position: relative;
  overflow:hidden;
  border-inline: 2px solid currentColor;
}

.main__content_imgLogo {
  position: absolute;
  text-transform: uppercase;
  text-shadow: 0 0 1px var(--background-color, #ffffff);
  inset-inline-end: 11px;
  inset-block-start: 22px;
  mix-blend-mode: hard-light;
  font-size: 14px;
  font-family: var(--header-text-font);
}

.main__content_img {
  object-fit:cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
  display: block;
}

.card__footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  padding-inline-end: 25px;
  padding-block-end: 25px;
  border: 2px solid currentColor;
  border-block-start: none;
}

.card__icon-button {
  display: grid;
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--main-text-color);
}

.button {  
  display: flex;
  justify-content: center;
  position: relative;
  border: 2px solid currentColor;
  background-color: var(--background-color);
  appearance: none;
  font-size: 14px;
  padding: 12px 35px;
}

.button::after {
  content: "";
  transform: scaleX(0);
  z-index: 1;
  position: absolute;
  inset: 0;
  transition: transform 0.5s ease-in-out;
  background-color: currentColor;
  transform-origin: left;
}

.button:hover {
  cursor: pointer;
}

.button:hover::after {
  transform: scaleX(1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 currentColor;
  transition: box-shadow 0.3s ease;
}

.button__text {
  z-index: 2;
  font-size: 14px;
  line-height: 12.6px;
  font-family: var(--header-text-font, sans-serif);
  mix-blend-mode: difference;
  color: var(--button-text-color);
  
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.floppy {
  z-index: 2;
  inline-size: 30px;
  mix-blend-mode: difference;
  block-size: 30px;
  color: var(--button-text-color);
}

.save-button {  
  display: flex;
  padding: 13px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 50px auto 100px;
}


.modal {
  background-color: var(--background-color);
  gap: 30px;
  line-height: 1.5;
  padding: 30px var(--modal-side-padding);
  font-size: 14px;
  z-index: 10;
  border: 2px solid var(--border-color);
  max-inline-size: 341px;
  font-family: var(--header-text-font);
  text-transform: uppercase;
  color: var(--main-text-color);
  position: fixed;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
  display: grid;
}
.modal:not([open]) {
  opacity: 0;
  pointer-events: none;
}
.modal-content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}



.modal-floppy {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
  color: var(--main-text-color);
}

.modal__button {
  inline-size: 100%;
  text-align: center;
}


.modal::backdrop {
  opacity: 0.75;
  background: var(--black-color, #000000);
}


@media (min-width: 1440px) {
  .save-button {
    flex-direction: row;
  }
  .floppy {
    inline-size: 22px;
    block-size: 22px;
  }
}
  
